@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Oswald:300,400');

@-webkit-keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(16px);
    }
}

@-moz-keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(16px);
    }
}

@-o-keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(16px);
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(16px);
    }
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #070707;
}

a {
    text-decoration: none;
}

::-moz-selection {
	color: #FFFFFF;
	background: #FF3347;
}

::selection {
	color: #FFFFFF;
	background: #FF3347;
}

#navbar {
    display: block;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: black;
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: white;
    z-index: 999;
    transition: all 0.3s ease;
}

    #navbar #right a {
        display: inline-block;
        padding: 5px 0;
        height: 100%;
        color: white;
        transition: all 0.3s ease;
        margin: 0 20px;
        border-bottom-color: transparent;
        border-bottom-style: solid;
        border-bottom-width: 2px;
    }

        #navbar #right a:hover {
            border-bottom-color: #FF3347;
        }

    #navbar img {
        padding-top: 7px;
    }

    #navbar #left {
        float: left;
        display: inline-block;
    }

    #navbar #right {
        float: right;
        display: inline-block;
    }

    #navbar.shrunk {
        padding: 10px 100px;
        font-size: 16px;
    }

#mobile-navbar {
    display: none;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 50px;
    background-color: #0C0C0C;
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 300;
    font-size: 80px;
    color: white;
    z-index: 999;
}

#sidebar-button {
    display: inline-block;
    padding: 0 25px;
}

    #sidebar-button:hover {
        cursor: pointer;
        background-color: #222222;
    }

#cover {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9998;
}

#mobile-sidebar {
    position: fixed;
    padding-top: 2.5em;
    top: 0;
    left: -80%;
    display: block;
    background-color: #0C0C0C;
    height: 100%;
    width: 80%;
    z-index: 9999;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 50px;
    color: white;
}

    #mobile-sidebar #x {
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        padding: 10px 25px;
        color: #888888;
    }

        #mobile-sidebar #x:hover {
            background-color: #222222;
            color: #EFEFEF;
            cursor: pointer;
        }

    #mobile-sidebar a {
    	color: #EFEFEF;
    }

    #mobile-sidebar ul {
    	list-style: none;
    	margin: 0;
    	padding: 0;
    }

    #mobile-sidebar ul li {
    	margin: 0;
    	width: 100%;
    	padding: 1em 1.5em;
    	box-sizing: border-box;
    }

    #mobile-sidebar ul li:hover, #mobile-sidebar ul li:active {
    	background-color: #333333;
    }

    #mobile-sidebar hr {
    	border: 2px solid #333333;
    	margin: 0;
    }

    #mobile-sidebar #join {
    	width: 70%;
    	text-align: center;
    	margin: 0 auto;
    	border-radius: 0.75em;
    	background-color: #FF3347;
    	margin-top: 1em;
    }

.join-button {
    display: inline-block;
    padding: 10px 40px !important;
    border-radius: 8px;
    border: 2px solid white !important;
    text-transform: uppercase;
    font-weight: normal;
    color: white;
    transition: all 0.3s ease;
}

    .join-button:hover {
        background-color: white;
        color: #0C0C0C !important;
    }

    .join-button:active {
        transform: scale(0.95);
    }

#banner {
    width: 100%;
    height: 100%;
    background-image: url('IMG_499777.jpg');
    background-size: 100%;
    background-position: right 65%;
    background-attachment: fixed;
    box-sizing: border-box;
}

    #banner-large-text {
        display: block;
        position: absolute;
        top: 50%;
        left: 20%;
        transform: translateX(-20%) translateY(-50%);
        font-family: 'Oswald', Arial, sans-serif;
        font-size: 120px;
        line-height: 120px;
        color: white;
        z-index: 99;
    }

        #banner-large-text #bottom-text {
            font-family: 'Lato', Arial, sans-serif;
            font-size: 24px;
            line-height: 24px;
            display: block;
        }

#header {
    margin-top: 61px;
    width: 100%;
    height: 250px;
    line-height: 250px;
    font-size: 60px;
    background-image: url('../images/sample-gates-dark.jpg');
    background-size: 150%;
    background-position: right 65%;
    background-attachment: fixed;
    box-sizing: border-box;
    font-family: 'Oswald', Arial, sans-serif;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.arrow-down {
    display: inline-block;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 50%;
    margin-left: -25px;
    bottom: 70px;
    border-radius: 50%;
    border: 2px solid transparent;
    bottom: 70px;
    width: 50px;
    height: 50px;
    background-image: url('../images/arrow-down.png');
    background-size: cover;
    transition: all 0.3s ease;
    background-color: transparent;
    z-index: 99;

    /* animations */
    -webkit-animation: bounce 2.5s infinite;
    -moz-animation: bounce 2.5s infinite;
    -o-animation: bounce 2.5s infinite;
    animation: bounce 2.5s infinite;
}

    .arrow-down:hover {
        cursor: pointer;
        border-color: black;
        background-color: black;
        filter: invert(100%);
    }

.arrow-up {
    display: inline-block;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 50%;
    margin-left: -25px;
    bottom: 50px !important;
    border-radius: 50%;
    border: 2px solid transparent;
    bottom: 70px;
    width: 50px;
    height: 50px;
    background-image: url('../images/arrow-up.png');
    background-size: cover;
    transition: all 0.3s ease;
    background-color: transparent;
    z-index: 99;

    /* animations */
    -webkit-animation: bounce 2.5s infinite;
    -moz-animation: bounce 2.5s infinite;
    -o-animation: bounce 2.5s infinite;
    animation: bounce 2.5s infinite;
}

    .arrow-up:hover {
        cursor: pointer;
        border-color: #F3F3F3;
        background-color: #F3F3F3;
        filter: invert(100%);
    }

.section {
    display: block;
    position: relative;
    width: 100%;
    height: calc(100% - 62px);
    background-size: cover;
    background-attachment: fixed;
    margin-top: -33px;
    box-sizing: border-box;
    color: white;
}

.text {
    position: relative;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    font-size: 20px;
    font-family: 'Lato', Arial, sans-serif;
    line-height: 1.5;
}

    .text h2 {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 40px;
        font-family: 'Oswald', Arial, sans-serif;
    }

#main {
    box-sizing: border-box;
    background-color: #111111;
    width: 100%;
    padding: 100px 18%;
    color: #888888;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 20px;
    color: #EFEFEF;
}

    #main li {
        margin: 10px 0;
    }

        #main li::before {
            content: "";
            width: 10px;
            display: inline-block;
        }

    #main a {
        color: #FF3347;
    }

        #main a:hover {
            text-decoration: underline;
        }

#board-table {
	width: inherit;

}

	#board-table img {
		opacity: 0.2;
	}

	#board-table h2 {
		margin-top: -10px;
	}

    #board-table h3 {
        margin-top: -25px;
        color: #888;
    }

	#board-table tr {
		height: 150px;
	}

	#board-table td {
		background: #1A1A1A;
		padding: 40px;
		margin: 0;
	}

#icons {
	margin-top: 20px;
}

	#icons img {
		margin: 15px;
		transition: 0.3s;
	}

		#icons img:hover {
			opacity: 0.5;
			-moz-transform: scale(1.1, 1.1);
			-webkit-transform: scale(1.1, 1.1);
			transform: scale(1.1, 1.1);
		}

#footer {
    background-color: #0C0C0C;
    padding: 50px 20%;
    color: white;
    font-family: 'Lato', Arial, sans-serif;
}
    #footer a {
        color: #777777;
        transition: all 0.3s ease;
    }

        #footer a:hover {
            color: #EEEEEE;
        }

	.footer-icons img {
		margin: 5px;
		transition: 0.3s;
        filter: grayscale(100%);
        opacity: 0.5;
	}

		.footer-icons img:hover {
			opacity: 1.0;
            filter: grayscale(0);
		}

    #footer table {
        width: auto;
        margin: 0 auto;
    }

    #footer td {
        width: auto;
        padding: 0 20px;
    }

    #footer img {
        vertical-align: middle;
    }

    #footer-sub {
        background-color: #090909;
        padding: 20px 20%;
        font-size: 14px;
        color: #404040;
        font-family: 'Lato', Arial, sans-serif;
        text-align: center;
    }

#mobile-footer {
    display: none;
    background-color: #0C0C0C;
    padding: 50px 10%;
    color: white;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 40px;
}

    #mobile-footer table {
        width: 100%;
    }

    #mobile-footer tr {
        padding: 30px 0;
        width: 100%;
    }

    #mobile-footer td {
        padding: 50px 0;
        text-align: center;
    }

    #mobile-footer a {
        color: #777777;
        transition: all 0.3s ease;
    }

        #mobile-footer a:hover {
            color: #EEEEEE;
        }

    #mobile-footer img {
        height: 2.5em;
        margin: 1em;
    }



@media only screen and (max-width: 1366px) {
    #footer {
        padding: 50px 10%;
    }
}

@media only screen and (max-width: 1076px) {
    #navbar {
        font-size: 16px;
    }
}

@media only screen and (max-width: 1023px) {

    @-webkit-keyframes bounce {
        0%, 100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(30px);
        }
    }

    @-moz-keyframes bounce {
        0%, 100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(30px);
        }
    }

    @-o-keyframes bounce {
        0%, 100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(30px);
        }
    }

    @keyframes bounce {
        0%, 100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(30px);
        }
    }

    #navbar {
        display: none;
    }

    #mobile-navbar {
        display: block;
    }

    #banner {
        background-size: cover;
    }

    #banner-large-text {
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        font-size: 12em;
        line-height: 1em;
    }

    #banner-large-text #bottom-text {
        font-size: 35px;
    }

    .text {
        font-size: 2.5em;
        width: 80%;
    }

        .text h2 {
            font-size: 2em;
        }

    .join-button {
        font-size: 1.5em !important;
        padding: 1em 1.5em !important;
    }

    .arrow-down, .arrow-up {
        width: 120px;
        height: 120px;
        margin-left: -60px;
    }

    .section #icons img {
        height: 100px;
        margin: 30px;
    }

    #header {
        margin-top: 137px;
        font-size: 80px;
        background-size: cover;
        background-position: left top;
    }

    #main {
        padding: 100px 10%;
        font-size: 35px;
    }

    #footer {
        display: none;
    }

    #footer-sub {
        font-size: 30px;
        padding: 50px 0;
        text-align: center;
    }

    #mobile-footer {
        display: block;
    }
}

@media only screen and (max-width: 780px) {
    #banner #banner-large-text {
        font-size: 8em;
    }

    #banner #bottom-text {
        font-size: 20px;
    }

    .arrow-down, .arrow-up {
        width: 70px;
        height: 70px;
        margin-left: -35px;
    }

    .text {
        font-size: 1.8em;
    }

    .text h2 {
        font-size: 1.5em;
    }

    #xkcd img {
        width: 100%;
        height: auto;
    }
}